.key-board {
    --gap: 50px;
    --grid-gap: 10px;
    --height: 20vw;
    --top: calc(100vh - var(--height));

    position: absolute;
    left: var(--gap);
    top: calc(var(--top) - var(--gap));
    height: var(--height);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--grid-gap);
    grid-template-areas: '. W . R' 
                         'A S D F';

    $class-list: W, A, S, D, R, F;

    @for $i from 1 through length($class-list) {
        $class: nth($class-list, $i);

        .#{$class}{
            grid-area: $class;
        }
    }

    @media (min-width: 640px) {
        --height: 150px;

        pointer-events: none;
    }
}