.key-board {
    --gap: 50px;
    --grid-gap: 10px;
    --height: 20vw;
    --top: calc(100vh - var(--height));

    position: absolute;
    left: var(--gap);
    right: var(--gap);
    place-items: center;
    max-width: 700px;
    margin: auto;
    top: calc(var(--top) - var(--gap));
    height: var(--height);
    display: grid;
    grid-gap: var(--grid-gap);

    @media (min-width: 640px) {
        --height: 150px;

        pointer-events: none;
    }
}