@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.key {
    --shadow-size: 0.8vw;
    --shadow-color: rgba(0,0,0,.25);
    --transition: 0.15s;
    --border-radius: 2vw;
    --size: 10vw;
    --border: 0.1vw;
    --font-size: 3.5vw;

    user-select: none;
    display: inline-grid;
    place-items: center;
    font-family: 'Open Sans', monospace;
    line-height: 0.8;
    margin: 0;
    background: #fff;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 0;
    transition: var(--transition);
    opacity: 0.5;
    box-shadow: 0 var(--shadow-size) 0 var(--shadow-color);
    font-size: var(--font-size);
    width: var(--size);
    height: var(--size);
    border: var(--border) solid;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);

    &:active, &.selected {
        top: var(--shadow-size);
        box-shadow: 0 0 0 var(--shadow-color);
        opacity: 1;
    }
    
    @media (min-width: 640px) {
        --shadow-size: 7.5px;
        --border-radius: 12px;
        --size: 66px;
        --border: 2px;
        --font-size: 36px;
    }
}